@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 248 250 252;
  --background: 2 6 23;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

/* RTL support for Arabic */
[dir="rtl"] {
  font-family: 'Noto Sans Arabic', sans-serif;
}
